<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>isItVegan?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="main.css"/>
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
  </head>
  <body ng-app="FoodApp">
    <main ng-controller="FoodController as foodctrl">
      <h1> Is It Vegan?</h1>
      <h2>Enter a upc to search</h2>
      
      <!-- <form data-ng-submit="foodctrl.search(upc)" onsubmit="return false"> -->
      <form ng-submit="foodctrl.test()">
        <input type="text" data-ng-model="upc"/>
        <button type="submit">Search</button>
      </form>
      <section>
        <h3> This item contains the following non-vegan ingredients:</h3>
        <ul>
          <li ng-repeat="ingredient in foodctrl.matchingIngredients" class="ng-cloak">{{ingredient}}</li>
        </ul>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="./bundle.js"></script>
  </body>
</html>

